/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif; /* Change font to a classic serif font */
  color: #333333; /* Set default text color */
}

body {
  background-image: url('bgimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: center;
}

.container {
  max-width: 800px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  min-height: calc(100vh - 80px); /* Adjust the height to fit the content and center vertically */
}


/* Color scheme */
:root {
  --primary-color: #8B4513; /* Change primary color to a rich brown tone */
  --secondary-color: #006400; /* Change secondary color to a dark green tone */
  --text-color: #000000; /* Update text color to black for better readability */
  --background-color: #F0F0F0;
}


/* Header styles */
header {
  position: fixed; /* Fix the header position */
  top: 0; /* Position the header at the top of the viewport */
  width: 100%; /* Make the header span the full width of the viewport */
  background-color: var(--secondary-color);
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: var(--primary-color); /* Update header text color to the primary color */
}

/* Navigation styles */
nav {
  background-color: var(--primary-color); /* Set navigation background color to the primary color */
  padding: 10px;
}

nav a {
  color: #FFFFFF; /* Change navigation link text color to white */
}

nav a:hover {
  color: var(--secondary-color); /* Update hover color to the secondary color */
}
